.card {
    display: flex;
    border-radius: 15px;
    height: 30vh;
    width: 40vh;
    margin: 20px;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}